html, body {
  background: linear-gradient(to bottom right, #33ccff 0%, #ff3399 100%) fixed;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-primary {
  background-color: #33ccff;
  border: none;
}
.btn-primary:hover {
  background-color: #ff3399;
}

.btn-secondary {
  background-color: #ff3399;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
}
.btn-secondary:hover {
  background-color: #33ccff;
}
